<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      </button>
    <a class="navbar-brand" href="#">Robo Inc.</a>

</nav>

<router-outlet> </router-outlet>

<footer class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-bottom">
    <div class="container " style="color:#fff">
        <p>Prepared for 
            <a href="https://github.com/patro88/hiring-robo-project">Robo Hiring Project</a>
            , by 
            <a href="https://github.com/patro88">Shakti Prasad Patro</a>
        </p>
    </div>
</footer>