<div class="container">
  <form class="form-horizontal">
    <div class="input-group">
      <input [(ngModel)]="searchText" name="searchText" placeholder="Search for Robo Assistants" class="form-control">
      <span class="input-group-btn">
                    <button class="btn btn-default" (click)="sendSearch()">Search</button>
                </span>
    </div>
  </form>
</div>

<div class="container">
  <div class="card card-success" *ngIf="searchResults?.length > 0">
    <div class="card-header">Search Results</div>
    <ul class="list-group">
      <li *ngFor="let robo of searchResults" class="list-group-item list-group-item-action" (click)=onRoboClick(robo)>
        <img src="{{robo.avatar}}" alt="avatar"  width="40" height="30" class="rounded"> 
        {{robo.name}}
      </li>
    </ul>
  </div>
  <div *ngIf="searchResults?.length == 0" class="card card-danger">
    <div class="card-header">No Robo Assitants found. Please try again!</div>
  </div>
</div>